body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color:red;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.association-link {
    font-size: 20px!important;
    color: white!important;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main, .jumbotron, nav {
    /* Same as the width of the sidenav */
    font-size: 24px; 
    /* Increased text to enable scrolling */
    padding: 0px 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
} 

.bg-image-full{
    height: 700px;
}
.jumbotron {
    margin-bottom: 0px!important;
}

.logo {
    height: 50px;
    width: 90px;
}

.list-group-item {
    color: black!important;
}

.cursor-pointer {
    cursor: pointer;
}

#contact {
    z-index: 1000;
}

.bg-image-full {
    background-position: center top;
    background-size: 100% auto;
}

#contact {
    background-size: 20% auto;
}

.img-org{
	height: 225px!important;
	width: 225px!important;
}

.text-red{
	color: red;
}
.text-light {
	color: white;
}