<body>
    <!-- Header -->
    {{  partial "header.html" . }}
    
    <header class="masthead">
        <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to Lyon!</div>
            <div class="intro-heading text-uppercase">Get the best events !</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/events">Commming soon !</a>
        </div>
        </div>
    </header>
    <section class="page-section" id="about">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">Latest event</h2>
                  <h3 class="section-subheading text-muted">All information about latest event</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <ul class="timeline">
                     {{ range first 10 .Data.Pages }}

                        {{ if eq .Type "events"}}


                            <li>
                                <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ .Params.photos }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"><a href="{{ .Permalink  }}">{{ .Title }}</a></h4>
                                    <h3 class="section-subheading mb-0 pb-0 text-dark">All information about latest event</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ .Params.label }}</p>
                                    <p class="text-muted"> {{substr .Params.When 0 -15}} {{substr .Params.When -10 5}}</p>
                                    
                                </div>
                                </div>
                            </li>
                        {{ end }}

                    {{ end }}



                  </ul>
                </div>
              </div>
            </div>
          </section>
{{  partial "footer.html" . }}
