{{  partial "header.html" . }}
<div class="container-fluid mt-5 ml-0 mr-0 p-0">
    <header class="py-5 bg-image-full" style="background-image: url('{{ .Params.Photo }}');">
    </header>
    <section class="py-5">
        <div class="container">
            <a href="{{ .Permalink  }}"><h1 class="display-4">{{ .Title }}</h1></a>                  
            <p class="font-italic text-secondary">{{ .Params.Address }} <br> {{ .Params.Domain }}</p>                  
            <p class="lead">{{ .Description }}</p>
        </div>
    </section>
</div>

{{  partial "footer.html" . }}