{{  partial "header.html" . }}


    <section class="bg-light page-section mt-5 org-chart" id="team">
        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h1 class="text-uppercase mb-5 text-red">Municipal Council</h1>
              {{  partial "town-hall-presentation.html" . }}
            </div>
          </div>
          <div class="d-none">
            {{  range .Data.Pages }}

                {{ if eq .Type "conseil-municipal" }}

                    <div class="col-sm-12 col-md-12 col-lg-12 conseil-info">
                        <span class="firstname">{{ .Params.firstName }} </span> <span class="lastname">{{ .Params.lastName }}</span>
                        <span class="role">{{ .Params.Role }}</span>
                        <span class="image">{{ .Params.Photos }}</span>
                    </div>

                {{ end }}
            {{ end }}
          </div> 
          <div class="row organigram d-none">
          {{  range .Data.Pages }}

              {{ if eq .Type "conseil-municipal" }}
                  {{ if eq .Params.Role "Director" }}
                    <div class="col-sm-12 col-md-12 col-lg-12 {{ .Params.Role }}">
                        <div class="row d-flex justify-content-center">
                          <img class="rounded-circle img-org img-fluid h-25" src="{{ .Params.Photos }}" alt="">
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary h4 mt-4">{{ .Params.firstName }} {{ .Params.lastName }}</p>
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary">{{ .Params.Role }}</p>
                        </div>
                    </div>
                  {{ else if eq .Params.Role "Deputy"}}
                    <div class="col-sm-12 col-md-12 col-lg-12 {{ .Params.Role }}">
                        <div class="row d-flex justify-content-center">
                          <img class="rounded-circle img-org img-fluid h-25" src="{{ .Params.Photos }}" alt="">
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary h4 mt-4">{{ .Params.firstName }} {{ .Params.lastName }}</p>
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary">{{ .Params.Role }}</p>
                        </div>
                    </div>
                  {{ else }}  
                    <div class="col-sm-3 col-md-3 col-lg-3 {{ .Params.Role }}">
                        <div class="row d-flex justify-content-center">
                          <img class="rounded-circle img-org img-fluid h-25" src="{{ .Params.Photos }}" alt="">
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary h4 mt-4">{{ .Params.firstName }} {{ .Params.lastName }}</p>
                        </div>
                        <div class="row d-flex justify-content-center">
                          <p class="firstname text-secondary">{{ .Params.Role }}</p>
                        </div>
                    </div>            
                  {{ end }}
              {{ end }}
          {{ end }}
          </div>
          <div class="row organigram-display">

          </div>      
        </div>
    </section>
{{  partial "footer.html" . }}